body {
    background-color: lightgray;
    margin: 0 auto;
    text-align: center;
}
header {
    background-color: rgb(27, 80, 255);
    color: white;
    text-align: center;
}
.title {
    font-size: 20px;
    padding: 10px;
}
img {
    object-fit: cover;
    border: 5px solid white;
    margin: 1em;
    height: 300px;
    width: 300px;
    display: block;
}
.images {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
main div {
    margin: 10px 10px 15px 10px;
    font-size: 20px;
}
.menu-btn {
    background-color: rgb(27, 80, 255);
    color: white;
}
nav {
    padding: 5px;
}
.links {
    display: none;
    text-align: center;
}
nav a {
    color: white;
    display: block;
    padding-top: 10px;
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 3vh;
    padding: 3px 6px;
    font-size: 1.5em;
}
@media screen and (min-width: 700px) {
    .images {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    .images {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    .links a {
        display: inline;
        color: white;
    }
    .links {
        text-align: center;
        display: block;
    }
    dialog img {
        width: 50%;
        height: 70%;
        margin: 13vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 48vh;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}