body {
    background-color: lightgray;
    margin: 0 auto;
    text-align: center;
}
header {
    background-color: rgb(27, 80, 255);
    color: white;
    text-align: center;
}
.title {
    font-size: 20px;
    padding: 10px;
}
img {
    object-fit: cover;
    border: 5px solid white;
    margin: 1em;
    height: 300px;
    width: 300px;
}
.images {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
main div {
    margin: 10px 10px 15px 10px;
    font-size: 20px;
}
.menu-btn {
    color: white;
}
nav {
    padding: 5px;
}
@media screen and (min-width: 700px) {
    .images {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    .images {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    .links a {
        display: inline;
        color: white;
    }
    .links {
        text-align: center;
    }
}