body {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}
header h1 {
    margin-top: 40px;
}
#blue {
    color: rgb(0, 119, 255);
    margin-bottom: -5px;
}
#mission {
    margin-top: 40px;
}
#trans {
    text-align: left;
    font-style: italic;
}
ol {
    text-align: left;
    list-style-position: inside;
}
li {
    margin-bottom: 10px;
}
#logo {
    max-width: 15%;
    margin-top: 50px;
}