body {
    background-color: gray;
    font-size: 18px;
}
#content {
    max-width: 60%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 50px;
}
p {
    color: darkblue;
    font-size: 1.3em;
}
hr {
    height: 3px;
    background-color: darkblue;
    width: 80%;
    margin-top: 50px;
}
h1, h2, p{
    text-align: center;
}
#logos{
    text-align: center;
}

img {
    width: 60%;
    margin: 50px auto;
}
#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}
.list{
    list-style-type: none;
}