
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    padding: 1rem;
    text-align: center;
}
header h1 {
    margin: 0 auto;
}
footer {
    text-align: center;
}
.main-nav {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: right;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: rgb(194, 0, 0);
    text-decoration: none;
}
#movie-list {
    padding: 0 2rem;
}
.movie {
    padding: 1rem;
    max-width: 700px;
}
.movie h2 {
    color: rgb(194, 0, 0);
    font-size: 1.5rem;
    text-align: left;
    margin: 20px;
    grid-row: 1/2;
    grid-column: 2/2;
}
.movie p {
    text-align: right;
}
.movie img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    text-align: left;
    grid-column: 2;
}
hr {
    border-top: 1px solid orange;
}
.description {
    grid-row: 1/ span 2;
}
@media (min-width: 600px) {
    .main-nav {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        justify-content: right;
    }
    .movie {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        column-gap: 10px;
        margin: 20px auto;
    }
    .movie img {
        grid-row: 2/5;
        grid-column: 2;
    }
    .description {
        border-right: 1px solid orange;
        padding-right: 30px;
    }
}
          